
 body{
   
    .python-logo {
     width: 150px;
     height: 150px;
     float: left;
     margin-right: 20px;
    }
    h1 {
     font-size: 36px;
     color: #333;
     margin-top: 0;
    }
    ul {
     list-style: none;
     margin: 0;
     padding: 0;
    }
    li {
     margin-bottom: 10px;
    }
    a {
     text-decoration: none;
     color: #0066cc;
    }
    a:hover {
     text-decoration: underline;
    }
    h2, h3 {
     font-size: 24px;
     color: #333;
     margin-top: 30px;
    }
    hr {
     border: none;
     border-top: 1px solid #ccc;
     margin-top: 50px;
     margin-bottom: 50px;
    }
    p {
     font-size: 18px;
     line-height: 1.5;
     color: #666;
     margin-bottom: 20px;
    }
    pre {
     background-color: #f5f5f5;
     padding: 10px;
     border-radius: 5px;
    }
    code {
     font-family: monospace;
     font-size: 16px;
    }
} 